:globa {
  .virtual-grid {
    height: 77vh;
  }

  .virtual-table-cell {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 16px;
    border-bottom: 1px solid #e8e8e8;
    background: #FFF;
  }
}